/* color palette from <https://github.com/vuejs/theme> */
:root {
    /* 色值 */
    --qy-color-white: #ffffff;
    --qy-color-gray: #aeaeae;
    --qy-color-danger: #f53f3f;
    /* 7字体颜色, 8边线颜色,9背景颜色 */
    --qy-color-danger-7: #f56c6c;
    --qy-color-danger-8: #fde2e2;
    --qy-color-danger-9: #fef0f0;
    --qy-color-warn: #ffb757;
    --qy-color-warn-7: #e6a23c;
    --qy-color-warn-8: #faecd8;
    --qy-color-warn-9: #fdf6ec;
    --qy-color-info: #cbcbcb;
    --qy-color-info-7: #909399;
    --qy-color-info-8: #e9e9eb;
    --qy-color-info-9: #f4f4f5;
    --qy-color-success: #96dc00;
    --qy-color-success-7: #67c23a;
    --qy-color-success-8: #e1f3d8;
    --qy-color-success-9: #f0f9eb;
    --qy-color-blue: #1A90FF;
    /* 动画时长 */
    --qy-transition-duration: 0.3s;
    /* 主题色 */
    --qy-primary: #96DC00;
    /* 页面背景 */
    --qy-page-background-1: #ffffff;
    --qy-page-background-2: #f7f8fa;
    /* card背景 */
    --qy-card-background: #FAFAFA;
    --qy-card-background-2: #f5f5f5;
    --qy-card-background-3: #f5f7fa;
    --qy-card-background-4: #f2f6fc;
    /* overlay背景 */
    --qy-overlay-color-1: rgba(0, 0, 0, 0.5);
    /* 字体颜色 */
    --qy-text-primary: var(--qy-primary);
    --qy-text-main: #333333;
    --qy-text-main-2: #212121;
    --qy-text-sub: #666666;
    --qy-text-weak: #999999;
    --qy-text-white: #ffffff;
    --qy-text-green: rgb(0, 191, 108);
    /* disable颜色 */
    --qy-disabled-1: #a8abb2;
    /* 下划线 */
    --qy-divider: #eaeaea;
    --qy-divider-1: #E8E8E8;
    --qy-divider-2: #dcdfe6;
    /* 箭头 */
    --qy-arrow-gray: gray;
    /* 内间距 */
    --qy-padding-gap: 20px;
    --qy-padding-gap-small: 10px;
    --qy-padding-gap-mini: 5px;
    /* 外间距 */
    --qy-margin-gap: 20px;
    --qy-margin-gap-small: 10px;
    --qy-margin-gap-smaller: 8px;
    --qy-margin-gap-mini: 5px;
    /* 字体大小 */
    --qy-font-huge: 36px;
    --qy-font-super: 28px;
    --qy-font-largerst: 24px;
    --qy-font-larger: 22px;
    --qy-font-large: 20px;
    --qy-font-medium-2: 18px;
    --qy-font-medium: 16px;
    --qy-font-normal: 14px;
    --qy-font-small: 12px;
    --qy-font-smaller: 10px;
    /* 字体 */
    --qy-family-normal: SourceHanSansCN-Regular, SourceHanSansCN;
    --qy-family-medium: PingFangSC-Medium, PingFang SC;
    --qy-family-bold: PingFangSC-Bold, PingFang SC;
    --qy-fontWeight-medium: 500;
    /* box-shadow */
    --qy-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    /* 边界线 */
    --qy-border: 1px solid var(--qy-divider-1);
    /* 圆角 */
    --qy-border-radius-base: 4px;
  }
  
  /* semantic color variables for this project */
  :root {
   
  }
  
  @media (prefers-color-scheme: dark) {
    /* 先注释掉深色模式
    :root {
      --color-background: var(--vt-c-black);
      --color-background-soft: var(--vt-c-black-soft);
      --color-background-mute: var(--vt-c-black-mute);
  
      --color-border: var(--vt-c-divider-dark-2);
      --color-border-hover: var(--vt-c-divider-dark-1);
  
      --color-heading: var(--vt-c-text-dark-1);
      --color-text: var(--vt-c-text-dark-2);
    } */
  }
  
  *,
  *::before,
  *::after {

  }
  
  body {
  }
  body.overflow-hidden{
    overflow: hidden;
  }