/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* 色值 */
  --qy-color-white: #ffffff;
  --qy-color-gray: #aeaeae;
  --qy-color-blue: #1A90FF;
  --qy-color-puple: #6464f0;
  --qy-color-dark: #000000;
  --qy-color-primary: #96DC00;
  --qy-color-danger: #f53f3f;
  /* 7字体颜色, 8边线颜色,9背景颜色 */
  --qy-color-danger-7: #f56c6c;
  --qy-color-danger-8: #fde2e2;
  --qy-color-danger-9: #fef0f0;
  --qy-color-warn: #ffb757;
  --qy-color-warn-7: #e6a23c;
  --qy-color-warn-8: #faecd8;
  --qy-color-warn-9: #fdf6ec;
  --qy-color-info: #cbcbcb;
  --qy-color-info-7: #909399;
  --qy-color-info-8: #e9e9eb;
  --qy-color-info-9: #f4f4f5;
  --qy-color-success: #96dc00;
  --qy-color-success-7: #67c23a;
  --qy-color-success-8: #e1f3d8;
  --qy-color-success-9: #f0f9eb;
  /* 动画时长 */
  --qy-transition-duration: 0.3s;
  /* 主题色 */
  --qy-primary: #96DC00;
  /* #96dc00, 透明度0.1,即rgba(r,g,b,0.1) */
  --qy-primary-alpha-1: #96dc001a;
  /* #96dc00, 透明度0.5,即rgba(r,g,b,0.5) */
  --qy-primary-alpha-5: #96dc0080;
  /* 页面背景 */
  --qy-page-background-1: #ffffff;
  --qy-page-background-2: #f7f8fa;
  /* card背景 */
  --qy-card-background: #FAFAFA;
  --qy-card-background-2: #f5f5f5;
  --qy-card-background-3: #f5f7fa;
  --qy-card-background-4: #f2f6fc;
  --qy-card-background-5: #f2f2f2;
  --qy-card-background-6: #f8f8f8;
  /* overlay背景 */
  --qy-overlay-color-1: rgba(0, 0, 0, 0.5);
  /* 字体颜色 */
  --qy-text-primary: var(--qy-primary);
  --qy-text-main: #333333;
  --qy-text-main-2: #212121;
  --qy-text-main-3: #303133;
  --qy-text-main-4: #222222;
  --qy-text-sub: #666666;
  --qy-text-weak: #999999;
  --qy-text-white: #ffffff;
  --qy-text-green: rgb(0, 191, 108);
  --qy-text-placeholder: #c0c4cc;
  /* disable颜色 */
  --qy-disabled-1: #a8abb2;
  /* 下划线 */
  --qy-divider: #eaeaea;
  --qy-divider-1: #E8E8E8;
  --qy-divider-2: #dcdfe6;
  /* 箭头 */
  --qy-arrow-gray: gray;
  /* 内间距 */
  --qy-padding-gap: 20px;
  --qy-padding-gap-normal: 15px;
  --qy-padding-gap-small: 10px;
  --qy-padding-gap-smaller: 8px;
  --qy-padding-gap-mini: 5px;
  /* 外间距 */
  --qy-margin-gap: 20px;
  --qy-margin-gap-normal: 15px;
  --qy-margin-gap-small: 10px;
  --qy-margin-gap-smaller: 8px;
  --qy-margin-gap-mini: 5px;
  /* 字体大小 */
  --qy-font-huge: 3.6rem;
  --qy-font-super-3: 3.4rem;
  --qy-font-super-2: 3.2rem;
  --qy-font-super: 2.8rem;
  --qy-font-largerst: 2.4rem;
  --qy-font-larger: 2.2rem;
  --qy-font-large: 2.0rem;
  --qy-font-medium-2: 1.8rem;
  --qy-font-medium: 1.6rem;
  --qy-font-normal: 1.4rem;
  --qy-font-small: 1.2rem;
  --qy-font-smaller: 1.0rem;
  --qy-font-mini: 0.9rem;
  /* 字体 */
  --qy-family-normal: PingFangSC-Regular, PingFang SC;
  --qy-family-medium: PingFangSC-Medium, PingFang SC;
  --qy-family-bold: PingFangSC-Bold, PingFang SC;
  --qy-family2-normal: SourceHanSansCN-Regular, SourceHanSansCN;
  --qy-family3-normal: AlibabaPuHuiTi-Regular, AlibabaPuHuiTi;
  --qy-font-weight-normal: 400;
  --qy-font-weight-medium: 500;
  --qy-font-weight-bold: 600;
  /* box-shadow */
  --qy-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  /* 边界线 */
  --qy-border: 1px solid var(--qy-divider-1);
  --qy-border-2: 1px solid #DCDCDC;
  /* 圆角 */
  --qy-border-radius-base: 4px;
  /* 组件大小 */
  --qy-component-size: 36px;
}

/* semantic color variables for this project */
:root {
}

@media (prefers-color-scheme: dark) {
  /* 先注释掉深色模式
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  } */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  outline:none;
  list-style: none;
}

html {
  height: 100%;
  font-size: 10px;
}

body.overflow-hidden{
  overflow: hidden;
}

p{
  margin: 0;
}

@mixin font-weight-normal {
  font-weight: var(--qy-font-weight-normal);
  font-family: var(--qy-family-normal);
}
@mixin font-weight-medium {
  font-weight: var(--qy-font-weight-medium);
  font-family: var(--qy-family-medium);
}
@mixin font-weight-bold {
  font-weight: var(--qy-font-weight-bold);
  font-family: var(--qy-family-bold);
}